@import "../../../main.scss";

.card {
  width: 100%;
  height: 550px;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 100% 0% !important;

  @media #{$mediaDesktop} {
    background-position: initial !important;
  }
  &-first {
    background-position: center !important;

    @media #{$mediaDesktop} {
      background-position: 14% 100% !important;
      background-size: auto !important;
    }
  }

  &-body {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 35px;
    color: white;

    .content {
      position: relative;
      width: 100%;
      margin-bottom: 44px;

      h3 {
        font-size: 8vw;
        margin: 0 0 10px 0px;
        max-width: 396px;
        position: relative;
        line-height: 1;
        font-weight: 400;

        @media #{$mediaDesktop} {
          font-size: 45px;
        }
      }

      .likeShow {
        position: absolute;
        left: -32px;
        top: 7px;
        pointer-events: none;
      }

      .description {
        font-size: 4vw;
        font-weight: 300;
        max-width: 376px;
        margin: 5px 0;
        margin-bottom: 24px;

        @media #{$mediaDesktop} {
          font-size: 16px;
        }
      }
      .category {
        font-size: 12px;
      }

      .containerButton {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
      }
    }
  }

  &-footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    display: flex;
    left: 0;
    right: 0;

    .likes,
    .dislikes {
      background: rgba(28, 187, 180, 0.7);
      justify-content: flex-start;
      height: 100%;
      box-sizing: border-box;
      -webkit-transition: 0.5s ease-in;
      transition: 0.5s ease-in;
      padding: 5px 10px;
      display: flex;
      align-items: baseline;
    }
    .likes {
      width: 50%;
    }
    .dislikes {
      width: 50%;
      background: rgba(255, 173, 29, 0.7);
      justify-content: flex-end;
    }

    .number {
      font-weight: 300;
      font-size: 29.14px;
      margin-left: 7px;
    }

    .porcent {
      font-weight: 300;
      font-size: 20.4px;
      margin-right: 7px;
    }
  }
}

.fw700 {
  font-weight: 700;
}

