<div
  [ngStyle]="{ background: info.imageUrl }"
  [ngClass]="{ 'card-first': info.id == 1 }"
  class="card"
>
  <div class="card-body">
    <div class="content">
      <h3>
        {{ info.name }}
        <button class="btn-like likeShow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 36 37"
            width="18px"
          >
            <path
              fill-rule="evenodd"
              fill="rgb(255, 255, 255)"
              d="M33.444,20.551 C33.444,20.551 35.080,21.191 35.080,23.137 C35.080,25.107 33.377,25.996 32.256,25.996 C32.954,26.343 33.928,27.010 33.714,28.696 C33.499,30.381 32.298,30.994 31.112,31.358 C31.879,31.831 32.437,33.141 32.010,34.149 C31.436,35.505 29.921,37.000 26.518,37.000 C22.401,37.000 11.077,37.000 10.625,37.000 C9.421,37.000 8.525,36.450 8.338,35.772 C8.338,34.381 8.338,17.197 8.338,17.197 C8.338,17.197 8.338,16.600 8.428,16.444 C12.667,10.199 14.171,8.419 13.920,4.804 C13.670,1.190 14.387,0.195 16.095,0.017 C17.802,-0.161 21.010,0.771 21.573,6.688 C21.816,9.248 19.989,14.289 19.989,14.289 C19.989,14.289 31.641,14.296 32.773,14.296 C34.583,14.296 36.001,15.071 36.001,17.541 C36.001,19.855 33.444,20.551 33.444,20.551 ZM1.000,37.000 L-0.000,37.000 L-0.000,15.250 L1.000,15.250 L6.219,15.250 L7.219,15.250 L7.219,37.000 L6.219,37.000 L1.000,37.000 Z"
            ></path>
          </svg>
        </button>
      </h3>
      <p class="category">
        <span class="fw700">{{ info.ago }}</span> in {{ info.category }}
      </p>
      <p class="description">{{ info.description }}</p>

      <div class="containerButton">
        <button (click)="onLike()" class="btn-like">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 36 37"
            width="18px"
          >
            <path
              fill-rule="evenodd"
              fill="rgb(255, 255, 255)"
              d="M33.444,20.551 C33.444,20.551 35.080,21.191 35.080,23.137 C35.080,25.107 33.377,25.996 32.256,25.996 C32.954,26.343 33.928,27.010 33.714,28.696 C33.499,30.381 32.298,30.994 31.112,31.358 C31.879,31.831 32.437,33.141 32.010,34.149 C31.436,35.505 29.921,37.000 26.518,37.000 C22.401,37.000 11.077,37.000 10.625,37.000 C9.421,37.000 8.525,36.450 8.338,35.772 C8.338,34.381 8.338,17.197 8.338,17.197 C8.338,17.197 8.338,16.600 8.428,16.444 C12.667,10.199 14.171,8.419 13.920,4.804 C13.670,1.190 14.387,0.195 16.095,0.017 C17.802,-0.161 21.010,0.771 21.573,6.688 C21.816,9.248 19.989,14.289 19.989,14.289 C19.989,14.289 31.641,14.296 32.773,14.296 C34.583,14.296 36.001,15.071 36.001,17.541 C36.001,19.855 33.444,20.551 33.444,20.551 ZM1.000,37.000 L-0.000,37.000 L-0.000,15.250 L1.000,15.250 L6.219,15.250 L7.219,15.250 L7.219,37.000 L6.219,37.000 L1.000,37.000 Z"
            ></path>
          </svg>
        </button>
        <button (click)="onUnLike()" class="btn-like btn-dislike">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 36 37"
            width="18px"
          >
            <path
              fill-rule="evenodd"
              fill="rgb(255, 255, 255)"
              d="M35.000,21.781 L29.781,21.781 L28.781,21.781 L28.781,0.000 L29.781,0.000 L35.000,0.000 L36.000,0.000 L36.000,21.781 L35.000,21.781 ZM22.080,32.223 C22.330,35.840 21.613,36.836 19.905,37.014 C18.198,37.192 14.990,36.259 14.427,30.338 C14.184,27.776 16.011,22.731 16.011,22.731 C16.011,22.731 4.359,22.723 3.227,22.723 C1.417,22.723 -0.001,21.948 -0.001,19.476 C-0.001,17.159 2.556,16.463 2.556,16.463 C2.556,16.463 0.920,15.822 0.920,13.875 C0.920,11.902 2.623,11.013 3.744,11.013 C3.046,10.666 2.072,9.998 2.286,8.311 C2.501,6.625 3.702,6.011 4.888,5.647 C4.121,5.173 3.563,3.862 3.990,2.854 C4.564,1.496 6.079,-0.000 9.482,-0.000 C13.599,-0.000 24.923,-0.000 25.375,-0.000 C26.580,-0.000 27.475,0.551 27.662,1.229 C27.662,2.621 27.662,19.820 27.662,19.820 C27.662,19.820 27.662,20.417 27.572,20.573 C23.333,26.824 21.829,28.605 22.080,32.223 Z"
            ></path>
          </svg>
        </button>
        <button (click)="OnVote(info.id)" class="btn">Vote now</button>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div
      [ngStyle]="{
        width: likePorcent +'%'
      }"
      class="likes"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 36 37"
        width="28px"
      >
        <path
          fill-rule="evenodd"
          fill="rgb(255, 255, 255)"
          d="M33.444,20.551 C33.444,20.551 35.080,21.191 35.080,23.137 C35.080,25.107 33.377,25.996 32.256,25.996 C32.954,26.343 33.928,27.010 33.714,28.696 C33.499,30.381 32.298,30.994 31.112,31.358 C31.879,31.831 32.437,33.141 32.010,34.149 C31.436,35.505 29.921,37.000 26.518,37.000 C22.401,37.000 11.077,37.000 10.625,37.000 C9.421,37.000 8.525,36.450 8.338,35.772 C8.338,34.381 8.338,17.197 8.338,17.197 C8.338,17.197 8.338,16.600 8.428,16.444 C12.667,10.199 14.171,8.419 13.920,4.804 C13.670,1.190 14.387,0.195 16.095,0.017 C17.802,-0.161 21.010,0.771 21.573,6.688 C21.816,9.248 19.989,14.289 19.989,14.289 C19.989,14.289 31.641,14.296 32.773,14.296 C34.583,14.296 36.001,15.071 36.001,17.541 C36.001,19.855 33.444,20.551 33.444,20.551 ZM1.000,37.000 L-0.000,37.000 L-0.000,15.250 L1.000,15.250 L6.219,15.250 L7.219,15.250 L7.219,37.000 L6.219,37.000 L1.000,37.000 Z"
        ></path>
      </svg>
      <span class="number">{{ likePorcent }}</span>
      <span class="porcent">%</span>
    </div>
    <div 
      [ngStyle]="{
        width: unLikePorcent +'%'
      }"
      class="dislikes">
      <span class="number">{{ unLikePorcent }}</span>
      <span class="porcent">%</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 36 37"
        width="28px"
      >
        <path
          fill-rule="evenodd"
          fill="rgb(255, 255, 255)"
          d="M35.000,21.781 L29.781,21.781 L28.781,21.781 L28.781,0.000 L29.781,0.000 L35.000,0.000 L36.000,0.000 L36.000,21.781 L35.000,21.781 ZM22.080,32.223 C22.330,35.840 21.613,36.836 19.905,37.014 C18.198,37.192 14.990,36.259 14.427,30.338 C14.184,27.776 16.011,22.731 16.011,22.731 C16.011,22.731 4.359,22.723 3.227,22.723 C1.417,22.723 -0.001,21.948 -0.001,19.476 C-0.001,17.159 2.556,16.463 2.556,16.463 C2.556,16.463 0.920,15.822 0.920,13.875 C0.920,11.902 2.623,11.013 3.744,11.013 C3.046,10.666 2.072,9.998 2.286,8.311 C2.501,6.625 3.702,6.011 4.888,5.647 C4.121,5.173 3.563,3.862 3.990,2.854 C4.564,1.496 6.079,-0.000 9.482,-0.000 C13.599,-0.000 24.923,-0.000 25.375,-0.000 C26.580,-0.000 27.475,0.551 27.662,1.229 C27.662,2.621 27.662,19.820 27.662,19.820 C27.662,19.820 27.662,20.417 27.572,20.573 C23.333,26.824 21.829,28.605 22.080,32.223 Z"
        ></path>
      </svg>
    </div>
  </div>
</div>


  
