@import "../../../../main.scss";

.cardsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  
    .itemCard {
      width: 100%;
      &:nth-child(odd) {
        margin: 15px 0px 15px 0;
      }
      &:nth-child(even) {
        margin: 15px 0px 15px 0px;
      }
  
      @media #{$mediaDesktop} {
        width: 49%;
      }
    }
  }