<div class="container">
    <div class="cardsContainer">
        <div class="itemCard" *ngFor="let itemPublicFigure of publicFigureInfo">
            <app-cards [info]="itemPublicFigure"></app-cards>
        </div>
    </div>
</div>

