@import "../../../main.scss";
.container {
  position: relative;
}
.cardContainer {
  width: 85vw;
  position: relative;
  overflow: hidden;

  @media #{$mediaDesktop} {
    width: 60%;
  }

  @media #{$mediaDesktop} {
    display: block;
    width: 46vw;
    padding: 0;
  }

  .box {
    box-sizing: border-box;
    color: white;
    max-height: 390px;
    width: 100%;
    background: rgba(53, 53, 53, 0.473);
    backdrop-filter: blur(20px);
    position: relative;
    max-width: 492px;
    padding: 20px;

    @media #{$mediaDesktop} {
      padding: 30px 36px 20px 30px;
      width: 100%;
    }
    @media #{$mediaIpad} {
      width: 57vw;
    }
  }
}

.raitingBar {
  height: 60px;
  width: 100%;
  max-width: 492px;
  background: $java;
  position: absolute;
  bottom: -60px;
  left: 0;

  &__button {
    background: $java;
    width: 50%;
    &:nth-child(2) {
      background: $mysin;
      width: 50%;
      height: 100%;
    }
  }
}

.bannerFooter {
  display: flex;
  position: relative;
  height: 50px;
  background: rgba(112, 112, 112, 0.3);
  position: absolute;
  bottom: 0px;
  overflow: hidden;
  width: 100%;

  .label {
    color: white;
    text-align: right;
    flex: 3.3;
    line-height: 50px;
    padding-right: 10px;
    padding-left: 5px;

    @media #{$mediaDesktop} {
      padding-right: 30px;
      padding-left: 0px;
    }
  }

  .days {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 99%,
      0% 100%,
      0% calc(50% + 5px),
      5px 50%,
      0% calc(50% - 5px)
    );
    background: rgba(256, 256, 256, 0.7);
    height: 100%;
    flex: 7;
    flex-grow: 7;
    flex-shrink: 1;
    flex-basis: 0%;
    padding-left: 13px;
    line-height: 50px;
    font-size: 35.472px;
    color: rgb(70, 70, 70);
  }
}

.hand {
  background: url(../../../assets/hand.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;

  &__bad {
    transform: rotate(180deg);
  }
}

.bannerText {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.741);
  line-height: 1.2;
  margin-bottom: 6px;
  font-weight: 300;
}
.bannerName {
  color: white;
  line-height: 1;
  margin: 0;
  font-size: 6vh;
  font-weight: 400;
  margin-bottom: 15px;

  @media #{$mediaDesktop} {
    margin-bottom: 27px;
    font-size: 8vh;
  }
}

.bannerDesc {
  color: white;
  line-height: 1.143;
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 3vh;
  margin-bottom: 10px;

  @media #{$mediaDesktop} {
    margin-bottom: 24px;
    font-size: 2.8vh;
  }
}

.more {
  font-size: 14px;
  color: white;
  text-decoration: none;

  &-veredict {
    font-weight: 700;
    font-size: 2.8vh;
    margin: 15px 0;

    @media #{$mediaDesktop} {
      font-size: 20px;
    }
  }

  span {
    text-decoration: underline;
  }
}
