<div class="container">
  <div class="cardContainer">
    <div class="box">
      <p class="bannerText">
        {{ tittle }}
      </p>
      <h1 class="bannerName">
        Pope Francis?
      </h1>
      <p class="bannerDesc">
        He’s talking tough on clergy sexual abuse, but is he just another papal
        pervert protector? (thumbs down) or a true pedophile punishing pontiff?
        (thumbs up)
      </p>
      <a class="more" href="#" >
        <img src="../../../assets/Wiki.png" alt="whiki" />&nbsp;
        <span>More information</span></a
      >
      <p class="more-veredict">What’s Your Verdict?</p>
    </div>
  </div>
  <div class="raitingBar center">
    <div class="raitingBar__button center">
      <div class="hand"></div>
    </div>
    <div class="raitingBar__button center">
      <div class="hand hand__bad"></div>
    </div>
  </div>
</div>
<div class="bannerFooter">
  <div class="label">
    CLOSING IN
  </div>

  <div class="days">22&nbsp; <span class="fontlight">days</span></div>
</div>
