@import "./base/mediaqueries";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.btn {
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 14px;
  padding: 6px 15px;
  cursor: pointer;
  &:focus,
  &:hover {
    outline: none;
    border: 1px solid white;
    background: white;
    color: black;
  }

  &-like,
  &-dislike {
    width: 31px;
    height: 31px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgb(28, 187, 180);
    margin-right: 10px;
    cursor: pointer;

    &:focus,
    &:hover {
      outline: none;
      border: 1px solid white;
    }
  }

  &-dislike {
    background: rgb(255, 173, 29);
  }
}
.w-100 {
  width: 100% !important;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-right: 30px;
  margin-left: 30px;
  max-width: 720px;

  @media #{$mediaDesktop} {
    max-width: 1280px;
    margin-right: calc(5vw + 67px);
    margin-left: calc(5vw + 67px);
  }
}
