@import "../../../main.scss";

.alert {
    display: grid;
    background-color: rgb(235, 235, 235);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    grid-template-areas:
      "titles close"
      "explanation 0";
    margin: 35px 0;
    padding: 23px 28px;
  
    @media #{$mediaDesktop} {
      grid-template-areas: "titles explanation close";
      grid-row-gap: 0;
    }
    .tiltes {
      grid-area: titles;
    }
    .first-title {
      font-size: 21.7px;
      line-height: 1.2;
      font-weight: 300;
    }
    .second-title {
      font-size: 37px;
      font-weight: bold;
      line-height: 1.131;
    }
  
    .explanation {
      grid-area: explanation;
  
      p {
        font-weight: 300;
        font-size: 15px;
        color: rgb(51, 51, 51);
        line-height: 1.515;
      }
    }
  }