<div class="container">
    <div class="alert">
        <div class="titles">
          <div class="first-title color-mine-sha">Speak out. Be heard.</div>
          <div class="second-title color-mine-sha">Be counted</div>
        </div>
        <div class="explanation">
          <p>
            Rule of Thumb is a crowd sourced court of public opinion where anyone
            and everyone can speak out and speak freely. It’s easy: You share your
            opinion, we analyze and put the data in a public report.
          </p>
        </div>
        <div class="close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 15 16"
            width="15"
          >
            <path
              fill-rule="evenodd"
              fill="rgb(51, 51, 51)"
              d="M15.010,14.487 L14.318,15.176 L7.828,8.706 L0.696,15.815 L-0.010,15.111 L7.122,8.003 L0.632,1.534 L1.323,0.845 L7.813,7.314 L13.968,1.179 L14.674,1.883 L8.519,8.017 L15.010,14.487 Z"
            ></path>
          </svg>
        </div>
      </div>
</div>