@import "../../../main.scss";

.ask-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.85),
        rgba(255, 255, 255, 0.85)
      ),
      url(../../../assets/people.jpg);
    padding: 12px 24px;
  
    @media #{$mediaDesktop} {
      flex-direction: row;
      height: 70px;
    }
  
    .text {
      font-size: 30px;
      font-weight: 300;
  
      @media #{$mediaDesktop} {
        margin-bottom: 0;
        text-align: left;
      }
    }
  
    .button {
      border: 3px solid $MineShaft;
      width: 210px;
      height: 53px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      background: transparent;
    }
  }