<div class="container">
    <div class="ask-banner">
        <div class="text color-mine-sha">
          Is there anyone else you would want us to add?
        </div>
        <button class="button color-mine-sha">Submit a Name</button>
    </div>
</div>