@import "../../../main.scss";

.footer {
    width: 100%;
    margin: 0 auto;
    display: flex;
  
    .contentFotter {
      margin-top: 40px;
      display: flex;
      align-items: center;
      padding: 32px 0;
      width: 100%;
      background-image: linear-gradient(
        to right,
        black 33%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: top;
      background-size: 5px 1px;
      background-repeat: repeat-x;
      flex-direction: column;
  
      @media #{$mediaDesktop} {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  
    &-list {
      list-style: none;
      display: flex;
      padding: 0;
      @media #{$mediaDesktop} {
        margin: 0;
      }
  
      .list {
        color: #333333;
        font-size: 12px;
        font-weight: 300;
        margin-right: 21px;
      }
    }
  
    .socialFooter {
      display: flex;
      align-items: center;
      .folow {
        font-size: 12px;
        font-weight: 300;
        color: #666666;
      }
  
      .folowSocial {
        margin-left: 25px;
      }
    }
  }
  