@import "../../../theme/theme.scss";

.header {
  height: 130px;
  width: 100%;
  z-index: 10;
  position: absolute;
  background: linear-gradient(
    0,
    rgba(51, 51, 51, 0) 0%,
    rgba(51, 51, 51, 0.52941) 49%,
    rgba(51, 51, 51, 0.81961) 100%
  );

  &-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .logo {
    cursor: pointer;
    min-width: 2rem;
    z-index: 199;
    vertical-align: top;
    margin-top: 1.5rem;

    @media #{$mediaDesktop} {
      margin-top: 0.5rem;
      margin-left: 0;
    }
  }

  .menu {
    width: 2rem;
    z-index: 200;
    color: white;

    @media #{$mediaDesktop} {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }

    &--opened {
      transition: transform 0.2s linear;
      display: none;
      @media #{$mediaDesktop1} {
        display: block;
      }
      &-items {
        margin-top: 10px;
        list-style: none;
        display: flex;
      }
      &-item {
        width: auto;
        margin: 0 15px;
      }
      &-link {
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.2;
        cursor: pointer;
        margin: 1em 0;
        text-transform: capitalize;

        &:hover {
          color: #d9d9d9;
        }
      }
    }

    &--closed {
      display: block;

      @media #{$mediaDesktop1} {
        display: none;
      }

      &-icon {
        transition: transform 0.2s linear;
        cursor: pointer;
        z-index: 100;
        position: absolute;

        .hamburger,
        .closemenu {
          fill: white;
        }

        .enabled {
          display: block;
        }

        .disabled {
          display: none;
        }
      }
    }
    &--short {
      &-items {
        display: flex;
        display: -ms-flexbox;
        position: fixed;
        z-index: 90;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #0d0214d9;
        padding: 28px;
      }
      &-compressed {
        transform: translateY(-120vh);
        transition: 0.5s ease-in-out;
      }
      &-expanded {
        transform: translateY(0);
        transition: 1s ease-in-out;
      }

      &-list {
        padding: 0;
        margin: 0;
        font-size: 2rem;
        line-height: 3rem;
        list-style: none;
        width: 80%;

        a {
          color: #fff;
          text-decoration: none;
          display: block;
        }
      }
    }
  }
}
